<!-- Login Servlet -->
<servlet>
    <servlet-name>loginservlet</servlet-name>
    <servlet-class>controller.loginservlet</servlet-class>

    <init-param>
        <param-name>courseName</param-name>
        <param-value>Advanced Java Programming</param-value>
    </init-param>

</servlet>


<servlet-mapping>
    <servlet-name>loginservlet</servlet-name>
    <url-pattern>/loginservlet</url-pattern>
</servlet-mapping>



<servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>controller.LogoutServlet</servlet-class>
</servlet>


<servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
</servlet-mapping>